@model LOFTSignGen.Models.InfoViewModel

@{
    ViewBag.Title = "Email Signature Generator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2></h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

@using (Html.BeginForm("Generate", "Home", FormMethod.Post, null))
{
    @Html.ValidationSummary(true)
   <table>
       <tr>
           <td>@Html.LabelFor(m => m.Name)</td>
           <td>@Html.TextBoxFor(m => m.Name) @Html.ValidationMessageFor(m => m.Name)</td>
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.BusinessTitle)</td>
           <td>
               @Html.DropDownListFor(
                      m => m.BusinessTitle,
                      new SelectList(
                          new List<Object>
                           {
                                new { value = "Innovation Programs Ambassador" , text = "Innovation Programs Ambassador" },
                                new { value = "Innovation Enablement Ambassador" , text = "Innovation Enablement Ambassador" },
                                new { value = "Innovation Fellow" , text = "Innovation Fellow" },
                                new { value = "Research & Development Partner" , text = "Research & Development Partner" },
                                new { value = "Visiting Innovation Fellow" , text = "Visiting Innovation Fellow" },
                                new { value = "Visiting Innovation Programs Ambassador" , text = "Visiting Innovation Programs Ambassador" },
                                new { value = "Visiting Research & Development Fellow" , text = "Visiting Research & Development Fellow" },
                                new { value = "Lab Operations Manager" , text = "Lab Operations Manager" },
                                new { value = "Innovation Software Engineer" , text = "Innovation Software Engineer" },
                                new { value = "AVP & Head of Strategy + Innovation Delivery, North America" , text = "AVP & Head of Strategy + Innovation Delivery, North America" },
                                new { value = "AVP & Head of Strategy + Innovation Delivery, Asia" , text = "AVP & Head of Strategy + Innovation Delivery, Asia" }
                           },
                          "value",
                          "text"
                          ), "-- Please Select --"
                   )
               @Html.ValidationMessageFor(m => m.BusinessTitle)
           </td>
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.Email)</td>
           <td>@Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)</td>
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.Address)</td>
           <td>
               @Html.DropDownListFor(
                      m => m.Address,
                      new SelectList(
                          new List<Object>
                           {
                                new { value = "1 Fusionopolic Place, #06-23 Galaxis, Singapore 138522" , text = "1 Fusionopolic Place, #06-23 Galaxis, Singapore 138522" },
                                new { value = "6 Jalan Gelenggang, 8/F, Kuala Lumpur, Malaysia 50490" , text = "6 Jalan Gelenggang, 8/F, Kuala Lumpur, Malaysia 50490" },
                                new { value = "601 Congress Street, Z4, Boston, MA 022120" , text = "601 Congress Street, Z4, Boston, MA 022120" },
                                new { value = "101 College Street, Toronto, ON M5G 1L7" , text = "101 College Street, Toronto, ON M5G 1L7" }
                           },
                          "value",
                          "text"
                          ), "-- Please Select --"
                   )
               @Html.ValidationMessageFor(m => m.Address)
           </td>
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.Office)</td>
           <td>@Html.TextBoxFor(m => m.Office) @Html.ValidationMessageFor(m => m.Office)</td>           
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.OfficeExtension)</td>
           <td>@Html.TextBoxFor(m => m.OfficeExtension) @Html.ValidationMessageFor(m => m.OfficeExtension)</td>
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.Mobile)</td>
           <td>@Html.TextBoxFor(m => m.Mobile) @Html.ValidationMessageFor(m => m.Mobile)</td>
       </tr>
       <tr>
           <td>@Html.LabelFor(m => m.LinkedInId)</td>
           <td>@Html.TextBoxFor(m => m.LinkedInId) @Html.ValidationMessageFor(m => m.LinkedInId)</td>
       </tr>
       <tr>
           <td></td>
           <td><button id="submitDocument" name="btnSave" type="submit">Generate</button></td>
       </tr>
   </table>    
}


